body{
    background-color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#light{
  font-weight:normal;
}

header{
  margin-top: 5px;
  background-color: rgb(141, 163, 188);
  font-weight: bold;
  text-align: center;
  color: black;
  width: 100%%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container{
  width: 90%;
  margin: 0 auto;
}


/* Menu dropdown things*/
.menu{
  display: table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
}

li {
    font-weight: bold;
    font-size: 75%;
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(179, 141, 188);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(252, 30, 85);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgb(204, 24, 69);}

.dropdown:hover .dropdown-content {
    display: block;
}

.flex-container{
  margin: 0 auto;
  width: 95%;
  overflow: visible;
  display: table;
  justify-content: center;
}

.cards{
  width: 200px;
  margin: 1.1%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(239, 156, 21);
  background-color: rgb(239, 156, 21);
}


#remove{
  flex-wrap: nowrap;
  display:flex;
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
}

#remove2{
  flex-wrap: nowrap;
  display:flex;
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
}

footer{
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color:  rgb(141, 163, 188);
  margin-bottom: 0;
  font-size: 75%;
}
